{#
/**
 * @file
 * Default template with the blocksfor the solution of the test.
 *
 * Available variables (needed for the test):
 * - data_t2: The variable for the block solution_news. This variable contains a list
 *   of articles from a JSON format that needs to be rendered as requested.
 *   Each item inside data_t2 contains the following content:
 *   - id: the id of the article.
 *   - date: the date of the article.
 *   - title: the title of the article.
 *   - slug: the slug used for the url.
 *   - location: where the article happened.
 *   - text: long text with the HTML of the article.
 *   - images: array of images. Can be empty.
 * - data_t4: The variable for the block solution_accordion. This variable depends
 *   on the value returned in the function getDataT4() inside the TestController class.
 *   - If you have returned a string, data_t4 will be a string.
 *   - If you have returned an array, data_t4 will be a twig array containing all the
 *     keys as elements.
 * - data_t5: The variable for the block solution_table. This variable depends
 *   on the value returned in the function getDataT5() inside the TestController class.
 *   - If you have returned a string, data_t4 will be a string.
 *   - If you have returned an array, data_t4 will be a twig array containing all the
 *     keys as elements.
 *
 * Other variables availables:
 * - num_articles: The number of articles loaded and available in data_t2.
 * And any other variable from the parent templates.
 */
#}
{% extends 'front.twig' %}

{# This is the block for the solution of task 2 #}
{% block solution_news %}
  {#
  /**
   * parent() is only needed to show some temporal html.
   * Your solution does not require its use and you can delete it.
   */
  #}
  {{ parent() }}
  <div class="card-deck">
  {% for article in data_t2|slice(0, 3) %}
  <div class="card" style="width: 18rem;">
    {% if article.images|length > 0 %}
      <img src="{{ article.images[1] }}" class="card-img-top" alt="{{ article.title }}">
    {% else %}
      <img src="https://via.placeholder.com/800x600/FFAAFF/FFFFFF?text=TestImage4" class="card-img-top" alt="{{ article.title }}">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ article.title }}</h5>
      <p class="card-text">{{ article.text|length > 250 ? article.text|slice(0, 250)|raw : article.text|raw }}
        {{ article.text|length > 250 ? '...' : ''}}</p>
      <a href="{{ site_url }}/article/{{ article.slug }}" class="btn btn-primary">Read More</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{ article.date }}</small>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}

{# This is the block for the solution of task 4 #}
{% block solution_accordion %}
  {#
  /**
   * parent() is only needed to show some temporal html.
   * Your solution does not require its use and you can delete it.
   */
  #}
  {# {{ parent() }} #}
  <div id="accordion">
    {% for item in data_t4 %}
    <div class="card">
      <div class="card-header" id="heading{{ loop.index }}">
      <h5 class="mb-0">
          <button class="btn btn-link font-weight-bold" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
            <img src="https://flagsapi.com/{{ item[0].cc }}/flat/32.png" alt="{{ item[0].country }}" width="32" height="32">
            {# {{ item|json_encode() }} #}
            {{ item[0].country }}
            <span class="font-weight-bold">({{ item|length }} sections)</span>
          </button>
        </h5>
      </div>
      <div id="collapse{{ loop.index }}" class="collapse {% if loop.first %}show{% endif %}" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
        <div class="card-body">
          {# {{ item.country }} #}
          {% for part in item %}
            {{ part.label }}
            ({{ part.code }})
            {% if part.website %}
              <a href="{{ part.website }}">
                <i class="fa fa-link" aria-hidden="true"></i>
              </a>
            {% endif %}
            <br>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{# This is the block for the solution of task 5 #}
{% block solution_table %}
  {#
  /**
   * parent() is only needed to show some temporal html.
   * Your solution does not require its use and you can delete it.
   */
  #}
  {{ parent() }}
  <div class="container">
    <h2>Card data</h2>
    {# <p>The .table-hover class enables a hover state (grey background on mouse over) on table rows:</p> #}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Code</th>
          <th>Section</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data_t5 %}
          <tr>
            <td>{{ item.card_code }}</td>
            {# <td>{{ item|json_encode() }}</td> #}
            <td>{{ item.section_code}}</td>
            <td>{{ item.card_status }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
